#!/usr/bin/env bash

# Make vim the default editor.
export EDITOR='vim';

# Enable persistent REPL history for `node`.
export NODE_REPL_HISTORY=~/.node_history;
# Allow 32³ entries; the default is 1000.
export NODE_REPL_HISTORY_SIZE='32768';
# Use sloppy mode by default, matching web browsers.
export NODE_REPL_MODE='sloppy';
# NVM's working directory
export NVM_DIR="$HOME/.nvm"

# Make Python use UTF-8 encoding for output to stdin, stdout, and stderr.
export PYTHONIOENCODING='UTF-8';

# Increase Bash history size. Allow 32³ entries; the default is 500.
export HISTSIZE='32768';
export HISTFILESIZE="${HISTSIZE}";
# Omit duplicates and commands that begin with a space from history.
export HISTCONTROL='ignoreboth';

# Prefer US English and use UTF-8.
export LANG='en_US.UTF-8';
export LC_ALL='en_US.UTF-8';

# Highlight section titles in manual pages.
export LESS_TERMCAP_md="${yellow}";

# Don’t clear the screen after quitting a manual page.
export MANPAGER='less -X';

# AWS SAML
export ADFS_DOMAIN='Turner';
export ADFS_URL='https://sts.turner.com/adfs/ls/IdpInitiatedSignOn.aspx?loginToRp=urn:amazon:webservices';

# AWS
export AWS_DEFAULT_REGION=us-east-1
export AWS_PROFILE=aws-adultswim:aws-adultswim-admin

# npm
export NPM_TOKEN=$(awk -F\//registry.npmjs.org/:_authToken= '{printf $2}' ~/.npmrc)

# Set GOPATH
export GOPATH="$HOME/Go";

# Set COMPOSER_HOME
export COMPOSER_HOME="$HOME/.composer";
