# Node.js
node_modules

# Logs
logs
*.log
npm-debug.log*

# MEGASync
.debris

# Bower
.bower-cache
.bower-registry
.bower-tmp
bower_components

# Sublime Text cache files
*.stTheme.cache
*.tmlanguage.cache
*.tmPreferences.cache

# Sublime Text workspace files
*.sublime-workspace

# Dropbox settings and caches
.dropbox
.dropbox.attr
.dropbox.cache

# Compiled Python files
*.pyc

# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes
